@media only screen and (max-width: 500px){
    .navbar{
        display: none;
    }
    .container{
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: 50%;
        padding: 20px;
        padding-left: 20px;
    }
    .right{
        width: 100%;
        height: 50%;
    }
    .right img{
        width: 80%;
        height: 80%;
    }
    .card-data{
        flex-direction: column;
        height: 100%;
        gap: 20px;
    }
    .card1{
        width: 100%;
        padding: 50px;
    }
    .card2{
        width: 100%;
        padding: 50px;
    }
    .card3{
        width: 100%;
        padding: 50px;
    }
}